:root, html[data-theme="dark"] {
  --background-clr: #26272e;
  --accent-clr: #ff7597;
  --accent-clr-purple: #bb86fc;
  --delete-red: #ff4d6a;
  --text-clr: #fff;
  --sub-text: rgb(242, 242, 242);
  --input-clr: #ffffffaf;
  /* --sub-text: rgba(255, 255, 255, 0.508); */
  --chart-bg-clr: #2e2e30;

  --header-text: minion-pro, serif;
  --secondary-text: 'Lato', sans-serif;

  --btn-br: 50px;
  --container-br: 10px;
}

html[data-theme="light"] {
  --background-clr: rgb(242, 241, 241);
  --accent-clr: #e66988;
  --accent-clr-purple: #a879e3;
  --sub-text: rgb(0, 0, 0);
  --delete-red: #e6455f;
  --text-clr: rgb(19, 19, 19);
  --sub-text: rgb(65, 65, 65);
  --input-clr: #c2c2c2;
  --chart-bg-clr: #ffffff;

  --header-text: minion-pro, serif;
  --secondary-text: 'Lato', sans-serif;

  --btn-br: 50px;
  --container-br: 10px;
}

body {
  background-color: var(--background-clr);
  color: var(--text-clr);
}

h2 {
  font-family: var(--header-text);
}

.App {
  max-width: 1200px;
  margin: auto;
}

.split {
  display: grid;
  max-width: 1500px;
  margin: auto;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr ;
}

/* =============
 nav bar styling 
 ============= */

 #nav-container {
  position: sticky;
  top: .6rem;
  align-self: start;
 }

#logo {
  max-width: 200px;
  margin-top: 50px;
  margin-bottom: -50px;
}

nav {
  border-left: solid 1px var(--text-clr);
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 0px 0 50px 0;
}

nav ul li a {
  color: var(--text-clr);
  text-decoration: none;
  font-family: var(--secondary-text);
  /* line-height: 3; */
  font-size: 1.5rem;
  font-weight: 100;
}

nav ul li a:hover {
  color: var(--accent-clr);
}

nav ul li:hover {
  transform: translateY(-15%);
}

.inactive .feather {
  display: none;
}

.is-active {
  color: var(--accent-clr);
}

/* ==================
projects page styling 
=================== */

#projects-container, #account-container {
  margin-top: 40px;
}

#projects-container h2, #account-container h2 {
  font-size: 3.5rem;
}

#projects-container p, #projects-container label, #account-container p {
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: var(--sub-text);
}

#project-input, #confirm {
    margin-top: 10px;
    width: 300px;
    height: 35px;
    padding: 10px;
    text-align: center;
    border-radius: var(--btn-br);
    border: none;
    background-color: var(--input-clr);
}

#myModal p {
    margin-left: 205px;
    margin-top: -10px;
    width: 450px;
    height: 125px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: var(--input-clr);
    color: black;
    text-align: left;
    font-size: 1.1rem;
}

::-webkit-input-placeholder {
  color: var(--background-clr);
  font-size: 1.2rem;
}

::-moz-placeholder {
  color: var(--background-clr);
  font-size: 1.2rem;
}

:-ms-input-placeholder {
  color: var(--background-clr);
  font-size: 1.2rem;
}

:-moz-placeholder {
  color: var(--background-clr);
  font-size: 1.2rem;
}

#projects-container label {
  font-size: 1.3rem;
  margin-right: 20px;
}

.new-proj-submit, .update {
  background-color: var(--accent-clr);
  border-radius: var(--btn-br);
  border: 2px solid var(--accent-clr);
  margin: 0px 0 0 30px;
  width: 90px;
  height: 35px;
  font-size: 1.1rem;
  color: var(--background-clr);
}

.new-proj-submit {
  margin: 15px 0 0 140px;
}

.button {
  background-color: var(--accent-clr);
  border-radius: var(--btn-br);
  border: 2px solid var(--accent-clr);
  margin: 0px 0 0 210px;
  width: 90px;
  height: 40px;
  font-size: 1.1rem;
  color: var(--background-clr);
}

input:focus {
  outline-color: var(--accent-clr);
}

#new-proj-submit:hover, .new-proj-submit:hover, .button:hover, #sign-btn:hover, .logout-btn:hover, .update:hover {
  background-color: var(--background-clr);
  color: var(--accent-clr);
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  backdrop-filter: blur(4px);
}

.modal-show {
  display: block; 
  position: fixed;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  z-index: 1001;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}


.modal-content {
    background-color: var(--background-clr);
    border: 1px solid gray;
    z-index: 1000;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow-y: auto;
    max-height: 90vh;
    padding: 20px;
}

#modal-text {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

#projects-container h3, #account-container h3 {
  font-size: 2rem;
  margin-top: 100px;
}

.ech-project-container {
  border-bottom: 1px solid var(--text-clr);
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.each-header {
  font-size: 1.3rem;
  font-weight: 500;
}

.open-snippet {
  color: var(--accent-clr);
}

.open-snippet:hover {
  cursor: pointer;
}

#my-projects {
  margin-top: 100px;
  border-top: .5px solid var(--accent-clr);
}

.ech-project-container a {
  text-decoration: none;
  color: var(--text-clr);
}

.ech-project-container a:hover {
  color: var(--accent-clr);
}

/* =============
 welcome styling 
 ============== */

#welcome-container {
  max-width: 1500px;
  margin: auto;
  text-align: center;
}

#welcome-paragraph {
  padding: 0 300px 0 300px;
  font-size: 1.5rem;
}

#sign-btn, .logout-btn {
  background-color: var(--accent-clr);
  border-radius: var(--btn-br);
  border: 2px solid var(--accent-clr);
  width: 90px;
  height: 40px;
  font-size: 1.1rem;
  color: var(--background-clr);
}

#login-container {
  max-width: 1500px;
  margin: auto;
  text-align: center;
}

.forms {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  align-items: center;
  justify-items: center;
}

#logo2{
  position: fixed; 
  top: 33%;
  left: 51.3%;
  transform: translate(-50%, -50%);
  margin: auto;
  align-items: center;
  justify-items: center;
}

.input-field i {
  position: absolute;
}

.input-field {
  width: 110%;
  margin-bottom: 10px;
  color: rgb(96, 96, 96);
}

.input-field p:hover {
  cursor: pointer;
  color: var(--accent-clr);
}

.field:focus {
  outline-color: var(--accent-clr);
}

.icon {
  padding: 20px 15px;
  min-width: 40px;
  color: #9e9e9e;
}

.field {
  margin-top: 10px;
  width: 300px;
  padding: 10px;
  text-align: center;
  border-radius: var(--btn-br);
  border: none;
  background-color: var(--input-clr);
}

.field2 {
  margin-top: 10px;
  width: 300px;
  padding: 10px;
  text-align: center;
  border-radius: var(--btn-br);
  border: none;
  background-color: #d6d5d551;
}

.login-button {
  margin-top: 10px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: var(--btn-br);
  border: solid .5px var(--accent-clr);
  background-color: var(--accent-clr);
  color: #666
}

.button:hover {
  background-color: var(--background-clr);
  cursor: pointer;
}

#dash-container {
  text-align: center;
}

#bar-container {
  margin: 10px 0 0 0;
}

#bar-container h2, #area-chart h2, #overview-container p, #proj-label { 
  color: var(--text-clr)
}

#proj-label {
  padding-right: 10px;
}

#overview-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--chart-bg-clr);
  border-radius: var(--container-br);
  margin-bottom: 20px;
}

.totals {
  font-size: 2rem;
  margin-bottom: -10px;
}

#purple-status {
  color: var(--accent-clr-purple);
}

#pink-status {
  color: var(--accent-clr);
}

#area-chart {
  background-color: var(--chart-bg-clr);
  padding: 15px 20px 15px 20px;
  border-radius: var(--container-br);
}

.bar-container {
  background-color: var(--chart-bg-clr);
  margin: 10px;
  border-radius: var(--container-br);
  padding-bottom: 20px;
}

#filter-container {
  margin: 100px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

#proj-label {
  font-size: 1.5rem;
}

/* =============
 project styling  
 ============== */

 #proj-container {
   padding-top: 100px;
 }

 #delete-container {
   display: flex;
   justify-content: space-between;
   margin-top: 0px;
 }

 .delete-btn {
  background-color: var(--delete-red);
  border-radius: var(--btn-br);
  border: 2px solid var(--delete-red);
  
  width: 90px;
  height: 40px;
  font-size: 1.1rem;
  color: var(--background-clr);
 }

 .delete-btn:hover {
  background-color: var(--background-clr);
  color: var(--delete-red);
  cursor: pointer;
 }

 .proj-container h2 {
    font-size: 3.5rem;
    margin-bottom: -18px;
 }

 .proj-container h3 {
    margin-top: 100px;
    font-size: 2rem;
 }
 .proj-container p, .proj-container label {
   font-size: 1.2rem;
   color: rgba(255, 255, 255, 0.659);
 }

 .proj-container a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-clr);
 }

 .delete-confirm {
   margin-top: 20px;
 }

 .proj-container a:hover {
    color: var(--accent-clr);
 }

 .back-arrow {
  margin-top: 100px;
 }

 /* ============
  footer styling  
  ============= */

  #footer-container {
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 200px
  }

  #legal-container {
    display: flex;
    justify-content: space-around;
  }

  .seperator {
    border-right: 2px solid gray;
    padding-right: 28px
  }

  .footer-text  {
    text-decoration: none;
    color: var(--text-clr);
  }

  a  {
    text-decoration: none;
  }

  .footer-text:hover {
    cursor: pointer;
    color: var(--accent-clr);
  }

  /* =============
   account styling 
   =============== */

   .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
   }

   .switch input {
     opacity: 0;
     width: 0;
     height: 0;
   }

   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: #535357;
     border-radius: 34px;
   }

   .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: #fff;
     transition: 400ms;
     border-radius: 50px;
   }

   .slider-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 6px;
    color: rgb(255, 247, 0);
    transition: 400ms;
    display: none;
    transition: 400ms;
   }

   .slider-icon-moon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 33px;
    bottom: 6px;
    color: rgb(255, 247, 0);
    transition: 400ms;
   }

   input:checked + .slider:before {
     transform: translateX(26px);
   }

   input:checked ~ .slider-icon {
     display: block;
   }

   input:checked ~ .slider-icon-moon {
    display: none;
  }

  #check-mark {
    color: green;
  }

